package $packageName;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.ocdsoft.bacta.swg.network.soe.buffer.SoeByteBuf;
import com.ocdsoft.bacta.swg.server.game.GameClient;
import com.ocdsoft.bacta.swg.server.game.object.tangible.TangibleObject;
import com.ocdsoft.bacta.swg.shared.annotations.ObjController;

@ObjController(id=$controllerid)
public class $className implements ObjectController {

	private Logger logger = LoggerFactory.getLogger(getClass().getSimpleName());
	
	@Override
	public void handleIncoming(GameClient client, SoeByteBuf message, TangibleObject invoker) {

		logger.warn("This object controller is not implemented");
		
	}
}
