package $packageName;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.ocdsoft.bacta.soe.ServerType;
import com.ocdsoft.bacta.soe.SwgController;
import com.ocdsoft.bacta.soe.SwgMessageController;
import com.ocdsoft.bacta.soe.annotation.RolesAllowed;
import com.ocdsoft.bacta.soe.connection.ConnectionRole;
import com.ocdsoft.bacta.soe.connection.SoeUdpConnection;
import ${messageClasspath}.${messageName};

@SwgController(server=$serverType, handles=$messageNameClass)
@RolesAllowed({ConnectionRole.AUTHENTICATED})
public class $className implements SwgMessageController<$messageName> {

    private static Logger logger = LoggerFactory.getLogger(${className}.class.getSimpleName());

    @Override
    public void handleIncoming(SoeUdpConnection loginConnection, $messageName message) throws Exception {
        logger.warn("This controller is not implemented");
    }
}

