package $packageName;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.google.inject.Inject;
import $messageClasspath;
import com.ocdsoft.bacta.swg.shared.annotations.SwgController;
import com.ocdsoft.bacta.swg.network.soe.buffer.SoeByteBuf;
import com.ocdsoft.bacta.client.console.client.ConsoleClient;
import com.ocdsoft.bacta.client.console.controller.swg.SwgClientMessageController;

@SwgController(group="$group", handles=$messageNameClass)
public class $className implements SwgClientMessageController {

	private Logger logger = LoggerFactory.getLogger(getClass().getSimpleName());
	
	@Override
	public void handleIncoming(ConsoleClient client, SoeByteBuf message) {

		logger.warn("This controller is not implemented");
		
	}
}
