package $packageName;

import com.ocdsoft.bacta.soe.message.GameNetworkMessage;
import com.ocdsoft.bacta.soe.util.SOECRC32;

import java.nio.ByteBuffer;

public class $messageName extends GameNetworkMessage {

    private static final short priority = $priority;
    private static final int messageType = SOECRC32.hashCode(${messageName}.class.getSimpleName());


    public $messageName() {
        super(priority, messageType);
        
    }

    public $messageName(final ByteBuffer buffer) {
        super(priority, messageType);
    
    }

    @Override
    public void writeToBuffer(final ByteBuffer buffer) {
    
    }
    /**
     $messageStruct
     */
}
